PORT=3001
VITE_API_URL=http://localhost:3001/api
JWT_SECRET=super_secure_random_jwt_key_digi8solutions_2026

DB_HOST=127.0.0.1
DB_USER=digi8_user
DB_PASSWORD=YourStrongDatabasePassword123!
DB_NAME=digi8

APP_URL=https://digi8solutions.com

# Admin Inbox for Submissions
ADMIN_EMAIL=digi8solutions@gmail.com

# Gmail SMTP Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=digi8solutions@gmail.com
SMTP_PASS=your_16_digit_gmail_app_password
